body
{
    background-color: #A17D79;
    color: #CCCCCC;
    margin-left: 40px;
    margin-right: 30px;
}

h1{
  color: #23523fdc;
}

img
{
    height: 300px;
}

#parent
{
    background-color: aliceblue;
    color: black;
}

article {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid black;
    padding: 10px;
  }
  
#main-content {
  font-weight: bold;
  color: yellow;
}
  
.important {
  font-style: italic;
}



.Testadd{
  color: #A17D79;
  background-color: blue;
}


.T1
{
  /*background-color: deeppink;*/
  font-size: 1em;
}

.Test{
  color: pink;
  background-color: black;
}

  
.nouvelleClasse{
  color: blue;
  background-color: rgb(166, 236, 25);
}

.importantt{
  font-style: italic;
  font-weight: bold;
}


/*Exo OC*/

article {
  margin: auto;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

.link {
  float: right;
  margin-left: 30px;
}

span {
  margin: 10px;
}

/*Exo sympa sur Internet*/
#d1{
  background-color: #EECC4499;
  color: black;
}
#d2{
  background-color: #44EEAA99;
  color: black;
}
#d3{
  background-color: #EECC4499;
  color: black;
}
#d4{
  background-color: #44EEAA99;
  color: black;
}
.hide{display: none;}


/*Exo OC sur les récup données utilisateurs !*/

form, #result2 {
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

/*Exo sur les API et les données JS*/

#ask-hello {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

#hello-result {
  text-align: center;
  font-size: 24px;
}



form {
  margin: auto;
  max-width: 300px;
  margin-top: 40px;
}

.result {
  text-align: center;
}

h3,h4{
  color: darkmagenta;
}

form2 {
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
}

input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

#result3 {
  margin-top: 40px;
  text-align: center;
}

.Code2 {
  background-color: black;
  color: #CCCCCC;
  border: 2px rebeccapurple solid;
  width: 900px;
  padding: 5px 5px 5px 5px;
}

#resulttt {
  margin: auto;
  margin-top: 40px;
  font-size: 24px;
  text-align: center;
}